<div class="sitelist" style="display: block;">
	<p class="asidetitle">Current Site 当前站点</p>
    <ul>
		<li>
			<a  href="http://icehe.gitcafe.io/" class="bold">
				<i class="fa fa-fighter-jet"></i>
				在中国大陆访问备用站更快。
			</a>
		</li>
		
		<li id="github_main"></li>
		<li id="gitcafe_spare">	</li>
    </ul>
</div>
<script type="text/javascript">

	var isOnGithub = (-1 != location.href.indexOf("icehe.github.io"));
	var isOnGitcafe = (-1 != location.href.indexOf("icehe.gitcafe.io"));

	var main_fa_class = '';
	var spare_fa_class = '';
	
	document.getElementById('github_main').innerHTML = '<a href="'
		+ (isOnGithub ? 'javascript:;' : 'http://icehe.github.io/')
		+ '" target="_top"><i class="fa '
		+ (isOnGithub ? 'fa-check-square-o' : 'fa-square-o')
		+ '"></i>&nbsp;Main Site 主站</a>';
		
	document.getElementById('gitcafe_spare').innerHTML = '<a href="'
		+ (isOnGitcafe ? 'javascript:;' : 'http://icehe.gitcafe.io/')
		+ '" target="_top"><i class="fa '
		+ (isOnGitcafe ? 'fa-check-square-o' : 'fa-square-o')
		+ '"></i>&nbsp;Spare Site 备用站</a>';
		
</script>