<div class="share">
  <% if (theme.share.enable) { %>

	<!-- 百度分享按钮 -->
	<div>分享至：</div>
	<div class="bdsharebuttonbox">
		<a href="#" class="bds_more" data-cmd="more"></a>
		<a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
		<a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
		<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
		<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
	</div>
	<script>
		window._bd_share_config={
			"common":{
				"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["copy","mail","youdao","linkedin","douban","renren","qzone","mshare"],"bdPic":"","bdStyle":"1","bdSize":"24"},
				"share":{},"image":{"viewList":["fbook","twi","weixin","tsina"],"viewText":"分享到：","viewSize":"16"},
				"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["fbook","twi","weixin","tsina"]}
			};
			with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
	</script>
	
    <!-- 以下为原有地址代码 -->
    <!--<% if (theme.share.jiathis) { %>-->
      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_style_24x24">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_renren"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <a class="jiathis_counter_style"></a>
        </div>
        <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->
    <!--<% } %>-->

	<!--
    <% if (theme.share.google) { %>
      <div class="g-plusone"></div>

      <script type="text/javascript">
        window.___gcfg = {lang: 'en-GB'};

        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    <% } %>

    <% if (theme.share.twitter) { %>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="halfer53">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <% } %>
	-->
	
  <% } %>
</div>