<section id="comments" class="comment"></section>

<script type="text/javascript">
	document.getElementById('comments').innerHTML = '<div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div>'
		+ '<hr/>'
		+ '<div id="disqus_thread" style="text-align: center; font-weight: bold; margin: auto; margin-top: 20px; font-size: 120%">'
		+ '<a href="javascript:;" onclick="loadDisqus();">Click here to load: Comments in Disqus</a>'
		+ '</div>';
	
	function loadDisqus(){
		var disqus_shortname = '<%= theme.disqus_shortname %>';

		(function(){
			var dsq = document.createElement('script');
			dsq.type = 'text/javascript';
			dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		}());
		
		(function(){
			var dsq = document.createElement('script');
			dsq.type = 'text/javascript';
			dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		}());
		
		document.getElementById('disqus_div').innerHTML = '<noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>';
	}
</script>