<% if (theme.totop){ %>
	<div id="totop">
	<!-- <a title="<%= __('totop')%>"><img src="/img/scrollup.png"/></a> -->
	<a title="<%= __('totop')%>"><img src="//7vzp68.com1.z0.glb.clouddn.com/common/scrollup.png"/></a>
	</div>
	<script src="<%- config.root %>js/totop.js"></script>
<% } %>